$primary-text-font: "poppins";
$bg-color: rgb(41, 41, 41);
$std-color: white;
$titles-color: rgb(252, 223, 192);

$nav-bg: rgba(0, 0, 0, 0.556);

$hero-img: url("../Assets/hero-img.jpg");
$bg-img: url("../Assets/timeline.jpg");

$projects-card-bg: #ffffff25;
$projects-card-hover: #ffffff60;

$btn-hover: rgb(116, 41, 77);

$audit-hero: url("../Assets/Audit/audit-background.jpg");
$FYP-hero: url("../Assets/FYP/cover.jpg");
$Strings-hero: url("../Assets/strings/stringsback.jpg");
$SKF-hero: url("../Assets/SKF/SKF-COVER.jpg");
