@mixin hero-audit {
  position: relative;
  height: 100vh;
  background: $audit-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}

@mixin hero-FYP {
  position: relative;
  height: 100vh;
  background: $FYP-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
  padding: 20%;
}

@mixin hero-strings {
  position: relative;
  height: 100vh;
  background: $Strings-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}

@mixin hero-SKF {
  position: relative;
  height: 100vh;
  background: $SKF-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}

@mixin hero-Pokemon {
  position: relative;
  height: 100vh;
  background: $Pokemon-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}

@mixin hero-BMS {
  position: relative;
  height: 100vh;
  background: $BMS-hero center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}
