.hero-section {
  position: relative;
  height: 100vh;
  background: $hero-img center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $std-color;
  text-align: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 5.5em;
  font-weight: bold;
}

.hero-tagline {
  font-size: 1.5em;
  margin: 20px 0;
}

.hero-btn {
  @include round-button;
}

.hero-btn:hover {
  @include round-button-hover;
}

.container {
  padding: 20px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3.5em;

    .hero-btn {
      font-size: 1em;
    }
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2.5em;
  }
  .hero-tagline {
    font-size: 1em;
  }
}
